<div class="filters">
    <button class="filter__button" data-filter-type="all">Все</button>
    {% set allCategories = [] %}
    {% for item in collections.processedGallery %}
      {% if item.category not in allCategories %}
          {% set _ = allCategories.push(item.category) %}
          <button class="filter__button" data-filter-type="category" data-filter-value="{{ item.category | lower }}">{{ item.category }}</button>
      {% endif %}
    {% endfor %}
</div>
