<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ pageTitle if pageTitle else 'Заглушка' }}</title>
    <meta name="description" content="{{ pageDesc if pageDesc else 'Р&К — передовое рекламное агентство по рекламе всего и даже чуть большего' }}"/>
    <script src="/assets/js/isotope.pkgd.min.js" defer></script>
    <script src="/assets/js/emerge.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" async></script>
    <script src="/assets/js/main.js" defer></script>
    <link rel="stylesheet" href="/assets/css/styles.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>